# 변수(variable)

- 프로그래밍에 있어 가장 기초가 되는 개념이 무엇이냐고 물어본다면, 저는 **변수(variable)**라고 하겠습니다.
- 변수는 값(value)을 저장합니다.

In [6]:
 # name 이라는 변수에 'barkle' 이라는 값을 저장
 name = 'barkle'
 # age 라는 변수에 42 라는 값을 저장
 age = 42
 # isMarried 라는 변수에 True 값을 저장
 isMarried = True

- 저장된 값은 다시 불러서 사용할 수 있습니다.

In [7]:
print(name)
print(age)
print(isMarried)

barkle
42
True

- 여러 개의 값을 다양한 형태로 저장할 수도 있습니다.
1. 리스트
2. 튜플
3. 딕셔너리

In [ ]:
# 리스트
movie_list = ['광해', '태극기 휘날리며', '베테랑', '엑시트', '부산행']
# 튜플
actor_tuple = ('현빈', '손예진', '원빈', '이나영', '장동건', '고소영')
# 딕셔너리
sportstar_dictionary = { '축구':'손흥민', '야구':'류현진', '배구':'김연경', '농구':'김선형'}

- 다른 라이브러리에서 만든 변수를 사용하는 것도 가능합니다.

In [ ]:
import pandas as pd

friend_dict_list = [
  {'name': 'John', 'age':25, 'job': 'student'},
  {'name': 'Nate', 'age':30, 'job': 'teacher'}
]
df = pd.DataFrame(friend_dict_list)
df

   name  age      job
0  John   25  student
1  Nate   30  teacher

# 변수의 의미
- 변수의 종류나 형태, 사용방법을 외우는 것도 중요하지만, 더 중요한 것은 변수가 어떤 역할을 하는지 파악하는 것입니다.
- 결국 **프로그램은 원하는 변수에 원하는 값을 입력하는 행위**입니다.
- 변수에는 다양한 값들이 들어갈 수 있다는 전제 하에 변수를 활용하여 원하는 값을 얻어낼 수 있는 과정을 설계해야 합니다.

### 예제: 구구단
- 다음 프로그램은 아주 간단한 형태를 가지고 있습니다.
  1. 원하는 값을 number라는 변수에 입력하고,
  2. 그 값을 이용하여 구구단을 계산하고,
  3. 그 값을 출력합니다.

In [ ]:
number = input('숫자를 입력하시오:')
for i in range(1,10):
  print(number, "*", i, "=", int(number)*i)

숫자를 입력하시오:7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63